.cast {
  padding: 20px;
  margin-top: 20px;
  max-width: 140vmin;
  background-color: #c0baba;
  border-radius: 10px;
}

.castList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.castMember {
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  max-width: 280px;
}

.castImage {
  width: 150px;
  height: 225px;
  border-radius: 10px;
  margin-bottom: 10px;
}
