.header {
  background-color: #f8f8f8;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navList li {
  margin-right: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.navList li.active {
  text-decoration: underline;
  color: #ff6347;
}
